.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
}

.footer__left {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.footer__logo {
    width: 300px;
}

.footer__subtitle {
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #64646A;
}

.footer__title {
    margin-top: 36px;
    font-family: "Jost", sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #1B1B1D;
}

.footer__location-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

.footer__location-button-title {
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #1B1B1D;
}

.footer__right {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.footer__social-container {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__social-container:first-child {
    margin-top: 36px;
}

.footer__social {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #64646A;
}

.rounded-icon {
    border-radius: 50%;
    box-shadow: #CDD1D6 0px 0.1px;
    padding: 16px;
    background-color: white;
}

.footer__email-input,
.footer__email-input:focus {
    border-radius: 25px;
    box-shadow: #CDD1D6 0px 0.1px;
    border: none;
    outline: none;
    background: white;
    padding: 20px;
    height: 36px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #64646A;
    margin: 24px 0;
}

.footer-underline__copyrights {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #64646A;
}

.footer-underline__copyrights-span {
    font-weight: 500;
    color: #1B1B1D;
}

.footer-underline__links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: flex-start;
}

.footer-underline__link {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #64646A;
    margin: 0 8px;
}

.footer-underline__link_divider {
    color: #1B1B1D;
}

.footer-underline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 36px 100px;
}

.divider {
    height: 1px;
    background-color: #1B1B1D;
    margin: 0 100px;
}

.footer__location-button:hover,
.rounded-button:hover,
.app-promo__text-button:hover,
.header__menu-item:hover,
.footer__social:hover,
.rounded-icon:hover {
    text-decoration: underline;
    cursor: pointer;
}